<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Havasu Falls</title>
	<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe|Mr+De+Haviland|Ranga:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body id="hp-bg">
	<div class="nav">
		<div class="nav-bar">
			<ul class="nav-menu">
				<span class="nav-brand"><a href="/"><img src="/images/visit.svg"></a><span>
				<li style="float: right"><a href="#map">Map</a></li>
				<li style="float: right"><a href="#section-gallery">Gallery</a></li>
				<li style="float: right"><a href="#">Home</a></li>
			</ul>
		</div>
	</div>
