<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Havasu Falls</title>
	<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe|Mr+De+Haviland|Ranga:400,700|Kaushan+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/cssreset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="hp-bg">
	<nav>
		<div class="nav-bar">
			<ul class="nav-menu cf">
				<!-- <span class="nav-brand"><a href="/"><img src="/images/visit.svg"></a><span> -->
				<li><a class="nav-brand" href="#">Visit Havasu Falls</a></li>
				<li style="float: right"><a href="#section-past">Past Experiences</a></li>
				<li style="float: right"><a href="#section-gallery">Gallery</a></li>
				<li style="float: right"><a href="#section-about">About</a></li>
			</ul>
		</div>
	</nav>
