<% include ./partials/homeheader %>

<div id="section-home">
		<div class="bg"></div>
		<div class="weather-container">
			<a class="weatherwidget-io" href="https://forecast7.com/en/34d48n114d32/lake-havasu-city/?unit=us" data-label_1="LAKE HAVASU CITY" data-label_2="WEATHER" data-font="Palatino" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="desert" data-basecolor="" >LAKE HAVASU CITY WEATHER</a>
	</div>
	<div class="container"> 
		<div class="comments-home">
			<h1>havasu falls</h1>
			<h2>The trip of a lifetime </h2>
		</div>
	</div>
</div>
<!-- End of Home Section-->
<!-- Start of About Section-->
<div id="section-about">
	<div class="container">
		<img class="about-picture" src="https://images.unsplash.com/photo-1531675868586-727c26e6a594?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13a1273f11dc9cdd148b821b26802b40&auto=format&fit=crop&w=634&q=80" alt=" picture of falls">
			<div class="about-comments">
				<h2>Learn some things about Havasu Falls...</h2>
				<p>
						<strong>Havasu Falls</strong> (Havasupai: <strong>Havasuw Hagjahgeevma</strong>) is a waterfall of Havasu Creek, located in the Grand Canyon, Arizona, United States. It is within Havasupai tribal lands.
				</p>
				<p>
						Havasu Falls is located 1 1⁄2 miles (2.4 km) from Supai. It is the more famous and most visited of the various falls along Havasu Creek. It consists of one main chute that drops over a 90-to-100-foot (27 to 30 m) vertical cliff into a series of plunge pools. High calcium carbonate concentration in the water creates the vivid blue-green color and forms the natural travertine dams that occur in various places near the falls.
					</p>
					<p>	
						Due to the effects of flash floods, the appearance of Havasu Falls and its plunge pools has changed many times. Prior to the flood of 1910, water flowed in a near continuous sheet, and was known as Bridal Veil Falls. The notch through which water flows first appeared in 1910, and has changed several times since. Water currently flows as one stream. In the past, there were sometimes multiple streams, or a continuous flow over the edge.
					</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis tristique lorem, quis accumsan lacus sodales vel. Sed nec dapibus libero. Nunc sollicitudin consequat ipsum at aliquet. Donec placerat quam risus, et facilisis ipsum accumsan porttitor. Donec et ipsum pharetra libero scelerisque mollis in in dui. Pellentesque risus libero, dignissim eget faucibus at, luctus vel leo. Aliquam ac sodales metus.
				</p>			
			</div>	
	</div>
</div>
<!-- End of About Section-->
<!-- start of gallery-->
<div id="section-gallery">
	<div class="container">
		<div class="gallery-comments">
			<h2>Wonderful sights of Havasu Falls</h2>
		</div>
	<div class="hover column">
			<div>
				<figure><img src="/images/img_1442.jpg"/></figure>
				<figure><img src="/images/img_1443.jpg"/></figure>
				<figure><img src="https://images.unsplash.com/photo-1488923937092-5a9ccc6eff59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c7115be05648a9bfdf796a2b1c4b3ef&auto=format&fit=crop&w=1350&q=80"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1488711500009-f9111944b1ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=a28ea6f371c665e8ba73b97ac642fb85&auto=format&fit=crop&w=1352&q=80"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1472195870936-d88b0d4c1b41?ixlib=rb-0.3.5&s=192f9668c90f2234021207eafe285aca&auto=format&fit=crop&w=1489&q=80"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1495567825545-1de1ba384593?ixlib=rb-0.3.5&s=a824d640796b1967e47d17e1927fdfbb&auto=format&fit=crop&w=634&q=80"/></figure> 
			</div>
		<div>
	</div>
</div>

	

<!-- end of gallery-->

<% include ./partials/footer %>