<% include ./partials/homeheader %>

<div id="section-home">
	<div class="container"> 
		<div class="comments-home">
			<h1>havasu falls</h1>
			<hr>
			<p>The blue-green waterfalls of Havasu Canyon are among Mother Nature's greatest works. Havasu is one of four major waterfalls in the heart of the Havasupai Tribe's homeland. Navajo, Mooney, and Beaver Falls are also located in this beautiful canyon, each with their own unique qualities. Although located within the Grand Canyon, this picturesque desert oasis is not in Grand Canyon National Park, but rather on the Havasupai Reservation. </p>
		</div>
	</div>
</div>

<% include ./partials/footer %>