<% include ./partials/homeheader %>

<section id="section-home">
	<div class="bg"></div>
	<div class="weather-container">
			<a class="weatherwidget-io" href="https://forecast7.com/en/34d48n114d32/lake-havasu-city/?unit=us" data-label_1="LAKE HAVASU CITY" data-label_2="WEATHER" data-font="Palatino" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="desert" data-basecolor="" >LAKE HAVASU CITY WEATHER</a>
	</div>
	<div class="container"> 
		<div class="comments-home">
			<h1>havasu falls</h1>
			<h2>The trip of a lifetime </h2>
		</div>
	</div>
</section>
<!-- End of Home Section-->
<!-- Start of About Section-->
<section id="section-about">
	<div class="container">
		<img class="about-picture" src="https://images.unsplash.com/photo-1531675868586-727c26e6a594?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=13a1273f11dc9cdd148b821b26802b40&auto=format&fit=crop&w=634&q=80" alt=" picture of falls">
			<div class="about-comments">
				<h2>Learn some things about Havasu Falls...</h2>
				<p>
						<strong>Havasu Falls</strong> (Havasupai: <strong>Havasuw Hagjahgeevma</strong>) is a waterfall of Havasu Creek, located in the Grand Canyon, Arizona, United States. It is within Havasupai tribal lands.
				</p>
				<p>
						Havasu Falls is located 1 1⁄2 miles (2.4 km) from Supai. It is the more famous and most visited of the various falls along Havasu Creek. It consists of one main chute that drops over a 90-to-100-foot (27 to 30 m) vertical cliff into a series of plunge pools. High calcium carbonate concentration in the water creates the vivid blue-green color and forms the natural travertine dams that occur in various places near the falls.
					</p>
					<p>	
						Due to the effects of flash floods, the appearance of Havasu Falls and its plunge pools has changed many times. Prior to the flood of 1910, water flowed in a near continuous sheet, and was known as Bridal Veil Falls. The notch through which water flows first appeared in 1910, and has changed several times since. Water currently flows as one stream. In the past, there were sometimes multiple streams, or a continuous flow over the edge.
					</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis tristique lorem, quis accumsan lacus sodales vel. Sed nec dapibus libero. Nunc sollicitudin consequat ipsum at aliquet. Donec placerat quam risus, et facilisis ipsum accumsan porttitor. Donec et ipsum pharetra libero scelerisque mollis in in dui. Pellentesque risus libero, dignissim eget faucibus at, luctus vel leo. Aliquam ac sodales metus.
				</p>			
			</div>	
	</div>
</section>
<!-- End of About Section-->
<!-- start of gallery-->
<section id="section-gallery">
	<div class="container">
		<div class="gallery-comments">
			<h2>Wonderful sights of Havasu Falls</h2>
		</div>
		<div class="hover column">
			<div>
				<figure><img src="http://www.denisrawls.com/images/IMG_1442.JPG" alt="cowboy on horse on a mountain"/></figure>
				<figure><img src="http://www.denisrawls.com/images/IMG_1443.JPG" alt="camping in the moutains at night"/></figure>
				<figure><img src="https://images.unsplash.com/photo-1488923937092-5a9ccc6eff59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c7115be05648a9bfdf796a2b1c4b3ef&auto=format&fit=crop&w=1350&q=80" alt="man overlooking a waterfall at night"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1488711500009-f9111944b1ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=a28ea6f371c665e8ba73b97ac642fb85&auto=format&fit=crop&w=1352&q=80" alt="waterfall with a rainbow"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1472195870936-d88b0d4c1b41?ixlib=rb-0.3.5&s=192f9668c90f2234021207eafe285aca&auto=format&fit=crop&w=1489&q=80" alt="waterfall covered by trees"/></figure> 
				<figure><img src="https://images.unsplash.com/photo-1495567825545-1de1ba384593?ixlib=rb-0.3.5&s=a824d640796b1967e47d17e1927fdfbb&auto=format&fit=crop&w=634&q=80" alt="small waterfall"/></figure> 
			</div>
		</div>
	</div>
</section>
<!-- end of gallery-->
<!-- start of things to do-->
<section id="section-thingsToDo">
	<div class="container">
		<div class="thingsToDo">
			<h2>Some of the things to do at Havasu Falls...</h2>
			<div class="thingsToDo-column-left">
				<img src="https://images.unsplash.com/photo-1516992826220-a86cff61a099?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fdb2c7978a33468780bf6f0db3af2af&auto=format&fit=crop&w=3034&q=80" alt="woman on horseback">
				<h5>Horseback Riding</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero velit, blandit non porta nec, hendrerit eu libero. Aenean non malesuada orci. Cras id sodales tellus. Nulla ac mauris at nulla posuere luctus vitae quis ante.</p>
			</div>
			<div class="thingsToDo-column-right">
				<img src="https://images.unsplash.com/photo-1488423884422-510d78fda297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c5a40a63b46581cc1d41f2908d32fe1&auto=format&fit=crop&w=3034&q=80" alt="woman hiking under waterfall">
				<h5>Hiking</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero velit, blandit non porta nec, hendrerit eu libero. Aenean non malesuada orci. Cras id sodales tellus. Nulla ac mauris at nulla posuere luctus vitae quis ante.</p>
			</div>
			<div class="thingsToDo-column-left">
				<img src="https://images.unsplash.com/photo-1520974822564-9b91874afe9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2aea02af80c0eaba29ce8b96062369b&auto=format&fit=crop&w=934&q=80" alt="woman swimming in cave">
				<h5>Swimming</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero velit, blandit non porta nec, hendrerit eu libero. Aenean non malesuada orci. Cras id sodales tellus. Nulla ac mauris at nulla posuere luctus vitae quis ante.</p>
			</div>
			<div class="thingsToDo-column-right">
				<img src="https://images.unsplash.com/photo-1506021440389-74d59cdbd97f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e656befb7a73a028b14438c94affe96&auto=format&fit=crop&w=2900&q=80" alt="man looking at night sky">
				<h5>Stargazing</h5>
				<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero velit, blandit non porta nec, hendrerit eu libero. Aenean non malesuada orci. Cras id sodales tellus. Nulla ac mauris at nulla posuere luctus vitae quis ante.</p>
			</div>
			<h2>And so much more!!!</h2>
		</div>
	</div>
</section>
<!-- end of things to do-->
<!-- start of past experiences-->
<section id="section-past">
	<div class="container">
		<div class="past-contents">
			<h2>Past <strong>Experiences</strong></h2>
			<h4>See what some people have to say about Havasu Falls</h4> 
			<div class="past-column">
					<div class="past-picture pic-1">
							<img src="https://images.unsplash.com/photo-1531809112149-c3e8a981f55b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=884d602ddacdf3e863b70b724e75c279&auto=format&fit=crop&w=1950&q=80" alt="selfie of a man in scuba gear">
						</div>
				<div class="past-wrapper">
					
					<div class="exp-comments">
						<h4>Scuba Steve</h4>
						<h5>4 time explorer</h5>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate nibh nec sapien ultrices, eu pellentesque tellus sodales. Sed ornare, orci id interdum tempus, nibh ligula pulvinar risus, sit amet consequat est velit at mauris. In eu purus dictum, viverra ipsum condimentum, egestas nisl. Donec rhoncus nulla vitae pulvinar tincidunt. Maecenas mollis magna et erat aliquam lacinia"</p>
					</div>
				</div>
			</div>
			<div class="past-column">
					<div class="past-picture pic-2">
							<img src="https://images.unsplash.com/photo-1518223895199-a195cc516926?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0349704ac06119cab73034773b44eeca&auto=format&fit=crop&w=500&q=60" alt="selfie of a woman with sand on her face">
						</div>
				<div class="past-wrapper">
				
					<div class="exp-comments">
						<h4>Island Irene</h4>
						<h5>6 time explorer</h5>
						<p>"Quisque purus elit, convallis sed odio nec, hendrerit varius lectus. In elementum tellus nisl, congue egestas sapien rutrum non. Nunc congue, quam at posuere luctus, velit felis eleifend libero, vel suscipit est neque quis leo. Morbi pharetra sem est, non tempor ligula ullamcorper a. Curabitur quis feugiat tellus, quis viverra arcu. Integer sit amet leo at arcu laoreet venenatis in nec mauris."</p>
					</div>
				</div>
			</div>
			<div class="past-column">
					<div class="past-picture pic-3">
							<img src="https://images.unsplash.com/photo-1505783495551-523774fe88b4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f65a6b38ef380b2d8f0c6ff5f6f7c403&auto=format&fit=crop&w=634&q=80" alt="selfie of a red fox">
						</div>
				<div class="past-wrapper">
				
					<div class="exp-comments">
						<h4>Mr Fox</h4>
						<h5>100 time explorer</h5>
						<p>"Nam id lacus odio. Nam at libero ultricies, convallis augue in, placerat urna. Mauris nec orci nisl. Duis augue orci, convallis euismod elit nec, euismod scelerisque lectus. Praesent cursus ut tortor in vehicula. Vestibulum id imperdiet elit, eu aliquet neque. Maecenas vulputate nibh sit amet lacus congue, id lobortis nulla eleifend. Proin vulputate velit tellus, eget dictum elit fermentum vitae."</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end of past experiences-->

<% include ./partials/footer %>