<% include ./partials/header %>

<div class="main-bg">
	<div id="content">
		<h2>Visit</h2>
		<h1>Havasu Falls</h1>
		 <a href="/homepage" class="landing-btn">Take a look</a>
	</div>

</div>


<% include ./partials/footer %>